/*-------------- about -----------------*/
.about{
	background: url(../img/snowboard.png) no-repeat 1400px 110px;
	overflow: hidden;

	.title-line{margin-bottom: 4.5rem;}

	&__img-wrap{
		margin: 26px 0  52px;
	}

	&__img{
		position: relative;
		img{position: relative;}
	}

	&__img::before{
		content: '';
		display: block;
		width: 314px;
		height: 218px;
		background: url(../img/figure1.png) no-repeat center;
		background-size: contain;
		position: absolute;
		bottom: -86px;
		left: -175px;
	}

	&__img-full{
		margin-right: -160px;
		margin-top: -90px;
		margin-bottom: 55px;
	}
}

@media (max-width: 1269px) {
	.about{background: none;}
}

@media (max-width: 991px) {
	.about{
		&__img::before{
			width: 250px;
			height: 174px;
			bottom: -55px;
			left: -100px;
		}

		&__img-full{margin-top: -25px;}
	}
}

@media (max-width: 767px) {
	.about{
		&__img-wrap{margin: 0;}
		&__img{margin-bottom: 30px;}

		&__img-full{
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
}