/*-------------- about -----------------*/
.about{
	background: url(../img/snowboard.png) no-repeat calc(100% - 40px) 110px;
	overflow: hidden;

	.title-line{margin-bottom: 3.4rem;}

	&__img-wrap{
		margin: 26px 0  52px;
	}

	&__img{
		position: relative;
		img{position: relative;}
	}

	&__img::before{
		content: '';
		display: block;
		width: 314px;
		height: 218px;
		background: url(../img/figure1.png) no-repeat center;
		background-size: contain;
		position: absolute;
		bottom: -86px;
		left: -175px;
	}

	&__img-full{
		margin-right: -160px;
		margin-top: -90px;
		margin-bottom: 55px;
	}
}