/*-------------- news -----------------*/
.news-wrap{
	margin: 110px 0 8px;
	overflow: hidden;
	padding-bottom: 120px;
}

.news{
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	position: relative;

	&::before{
		content: '';
		display: block;
		width: 114px;
		height: 174px;
		background: url(../img/figure2.png) no-repeat center;
		background-size: contain;
		position: absolute;
		top: -63px;
		right: -72px;
	}

	&::after{
		content: '';
		display: block;
		width: 114px;
		height: 170px;
		background: url(../img/figure3.png) no-repeat center;
		background-size: contain;
		position: absolute;
		bottom: -118px;
		left: 18px;
	}

	.news-item:nth-child(4n + 1){
		grid-column: auto /span 2;
		grid-row: auto /span 2;
	}
	.news-item:nth-child(4n + 1) .news-item__img-wrap{padding-bottom: 100%;}

	.news-item:nth-child(4n + 2){grid-column: auto /span 2;}
	.news-item:nth-child(4n + 2) .news-item__img-wrap{padding-bottom: 45.5%;}

	.news-item:nth-child(4n + 1),
	.news-item:nth-child(4n + 2){
		.news-item__info{
			display: flex;
			width: calc(100% - 180px);
			min-height: 75px;
			margin: 0;
			position: absolute;
			bottom: 40px;
			left: 140px;
		}

		.news-item__title{
			color: #fff;
			a{color: #fff;}
			a:hover{color: $color-blue;}
		}

		.news-item__date-wrap{
			left: 40px;
			bottom: 40px;
		}
	}
}

.news-item{
	display: block;
	text-decoration: none;
	position: relative;
	z-index: 2;

	&__content{position: relative;}

	&__img-wrap{
		display: block;
		text-decoration: none;
		overflow: hidden;
		position: relative;
		padding-bottom: 76%;
	}

	&__img{
		display: block;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: transform 0.2s ease 0s;
	}

	&__img::after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
		position: absolute;
		top: 0;
		left: 0;
	}

	&__date-wrap{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		background: #000;
		width: 70px;
		height: 70px;
		padding: 5px;
		@include font(normal, normal, 1.4rem, 1.2, #fff);
		text-align: center;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	&__day{
		font-size: 2.4rem;
		font-weight: bold;
	}

	&__info{margin-top: 15px;}

	&__title{
		@include font(normal, normal, 2rem, 1.3, $color-text);

		a{
			color: $color-text;
			text-decoration: none;
			transition: color 0.2s ease 0s;
		}

		a:hover{color: $color-blue;}
	}

	&__img-wrap:hover &__img{transform: translate(-50%, -50%) scale(1.05);}
}

@media (max-width: 991px) {
	.news{
		&::after{display: none;}
		
		.news-item:nth-child(4n + 1),
		.news-item:nth-child(4n + 2){
			.news-item__info{
				width: calc(100% - 115px);
				bottom: 15px;
				left: 100px;
			}
	
			.news-item__date-wrap{
				left: 15px;
				bottom: 15px;
			}
		}
	}

	.news-item{
		&__title{font-size: 1.8rem;}
	}
}

@media (max-width: 767px) {
	.news-wrap{
		margin-top: 50px;
		margin-bottom: 50px;
		padding-bottom: 0;
	}

	.news{
		display: block;
		&::before{display: none;}
		.news-item{margin-bottom: 30px;}

		.news-item:nth-child(4n + 1),
		.news-item:nth-child(4n + 2){
			.news-item__info{
				position: static;
				width: auto;
			}
	
			.news-item__date-wrap{
				left: 0;
				bottom: 0;
			}

			.news-item__title{
				color: $color-text;
				a{color: $color-text;}
			}

			.news-item__info{
				min-height: auto;
				margin-top: 10px;
			}

			.news-item__img-wrap{padding-bottom: 76%;}
		}
	}
}