/*-------------- pager -----------*/
.pager{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: -6px;
	margin-right: -6px;

	&__nav{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		vertical-align: top;
		width: 80px;
		height: 46px;
		margin: 10px 25px;
		text-decoration: none;
		cursor: pointer;
		box-shadow: $color-blue 0 0px 0px 2px inset;
		transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);

		.icon{
			fill: $color-text;
			transition: fill 0.2s ease 0s;
		}
	}

	&__nav:first-child{margin-left: 0;}
	&__nav:last-child{margin-right: 0;}

	&__item{
		margin: 10px;
		@include font(normal, bold, 1.8rem, 1, $color-grey);
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	&__item:hover,
	&__item.active{
		color: $color-text;
	}

	&__nav:hover{
		box-shadow: $color-blue 0 0px 0px 40px inset;
		.icon{fill: #fff;}
	}

	&__nav.disable,
	&__nav.disable:hover{
		box-shadow: $color-blue 0 0px 0px 2px inset;
		cursor: auto;
		opacity: 0.5;

		.icon{fill: $color-text;}
	}
}

@media (max-width: 767px) {
	.pager{
		&__nav{margin: 10px;}
	}
}