extends ../layout/main

block variables
	- var title = 'Личный кабинет';
	- var h1 = 'Личный кабинет';

block content
	section.cabinet
		.container
			.row
				.col-lg-3
					nav.left-menu
						ul.left-menu__list
							-
								var list=[
									{text:'Личные данные'},
									{text:'Форма заказа'},
									{text:'Добавить документы '},
									{text:'История заказов и статусы', status:'active'},
									{text:'Выйти'},
								]
							each item in list
								li.left-menu__item(class=item.status?'active':'')
									a(href="#").left-menu__link= item.text
				
				.col-lg-9
					h2 История заказов и статусы

					table.order
						thead
							tr
								th Название товара
								th Статус
								th скачать закрывающие документы
						tbody
							-
								var list=[
									{status:'Отправлено'},
									{status:'В пути', status_color:'pink'},
									{status:'Доставлено', status_color:'green'},
								]
							each item in list
								tr
									td
										.order__info
											a(href="#").order__img-wrap
												.order__img(style="background-image: url(assets/img/basket.jpg)")

											.order__desc
												.order__title
													a(href="#") Зимняя одежда oneskee Сезон 19/20

												a(href="#").order__link Cкачать бланк заказа
									
									td
										.order__status(class=item.status?'order__status_'+item.status_color:'')
											span= item.status
											+svg('ic-view','ic-view', '20', '14')

											.order-data-wrap
												.order-data
													.order-data__item
														.order-data__label Кем ожидается:
														.order-data__text Иван Иванович Иванов

													.order-data__item
														.order-data__label Трек номер:
														.order-data__text 938567348565687

													.order-data__item
														.order-data__label Дата доставки:
														.order-data__text 12 марта 2021
										
									td
										a(href="#").order__download
											+svg('ic-download','ic-download', '16', '16')

					.pager
						a.pager__nav.disable(href="#")
							+svg('ic-arrow-left','ic-arrow-left', '22', '18')

						a.pager__item.active(href='#') 1
						a.pager__item(href='#') 2
						a.pager__item(href='#') 3
						a.pager__item(href='#') 4
						a.pager__item(href='#') ...
						a.pager__item(href='#') 12
						a.pager__item(href='#') 13

						a.pager__nav(href="#")
							+svg('ic-arrow-right','ic-arrow-right', '22', '18')
					